table.dataTable>tbody>tr.dt-hasChild + tr > td {
    padding: 4px;
    background-color: var(--color-primary-light);
}

.book-details {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 6px;
}

.book-cover {
    float: right;
}

.book-cover img {
    max-width: 128px;
    margin: 4px;
}

.book-title {
    font-weight: bold;
    font-size: 120%;
}

.book-subtitle {
    font-size: 90%;
    font-style: italic;
    margin: 4px;
}

.book-buttons {
    text-align: center;
    background-color: beige;
}

.book-buttons .button-title {
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}

